script(type="text/javascript")
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-00000000-0']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

script(type="text/javascript")
  var $buoop = {vs:{i:8,f:10,o:17,s:5.1}}; 
  function $buo_f(){ 
    var e = document.createElement("script"); 
    e.src = "//browser-update.org/update.js"; 
    document.body.appendChild(e);
  };
  try {
  document.addEventListener("DOMContentLoaded", $buo_f,false);
  } catch(e){window.attachEvent("onload", $buo_f);}