.ten.columns
  span.copyright
    | © 2015 A.I.M Lab 互联网与系统实验室
    | . Theme by&nbsp;
    a(href='http://karma-runner.github.io/')
      | Karma
    | .
.six.columns
  .social
    a(href='https://github.com/aimlab'
      data-tooltip='GitHub Repo')
      i.icon-github-alt.icon-large
    a(href='mailto:haochen@aimlab.org'
      data-tooltip='Mailing List')
      i.icon-envelope-alt.icon-large
